html,
body {
  margin: 10;
  padding: 10;
  background: linear-gradient(to left, #00b09b, #96c93d);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 7px 5px 7px 7px rgba(0, 0, 0, 0.5);
}

button {
  display: inline-block;
}

#start,
#restart {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  background: #6a9113;
  font-size: 24px;
  border-radius: 10px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, -2%);
  border: none;
}

#start:hover,
#restart:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

#restart {
  margin-bottom: 20px;
  display: block;
}

.square {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 20px #000;
}

.snake {
  background: #000;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 15px #6a9113;
}

h1,
h2 {
  text-align: center;
}
h2 {
  color: #fff;
}
.apple {
  background: #000;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 15px #6a9113;
}
span {
  margin-top: 0;
  display: inline-block;
  padding: 10px 20px;
  background-color: #6a9113;
  border-radius: 10px;
  color: #fff;
}
.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 0;
  margin-top: 30px;
}

#modal {
  margin-top: 0;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 40%;
  color: #fff;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

p {
  font-size: 24px;
  color: #000;
  text-align: center;
  font-weight: bold;
}
h1 {
  color: #000;
  margin: 0;
  margin-top: 50px;
}

.nameGame {
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
  color: #78ffd6;
  border-top: 3px solid #78ffd6;
  border-bottom: 3px solid #78ffd6;
}

.wrapper {
  display: inline-block;
}

#modal h1 {
  color: #6a9113;
}
